<header>
    <ul>
        <li><img class="logo" src="/static/images/logo.png"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/about">About</a></li>
        {{#if user}}
        <li><a href="/create/cube">Add a Cube</a></li>
        <li><a href="/create/accessory">Add Accessory</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}
    </ul>
</header>
<h1>Delete Cube</h1>
<div class="form">
    <form action="/delete/{{cube._id}}" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{cube.name}}" disabled="true" />
        <label for="description">Description</label>
        <textarea id="description" name="description" disabled="true" />{{cube.description}}</textarea>
        <label for="image">ImageUrl</label>
        <input type="text" id="image" name="imageUrl" value="{{cube.imageUrl}}" disabled="true" />
        <label for="difficulty">Difficulty</label>
        <select id="difficulty" name="difficultyLevel" value="" disabled="true" />
        <option value="{{cube.difficulty}}">{{cube.difficulty}}</option>

        </select>
        <input type="submit" value="Delete">
    </form>
</div>